

.lost-mod
{
    color: red;
    font-style: italic;
}

.found-mod
{
    color: green;
    font-style: italic;
}

.available-mod
{
    color: rgb(193, 176, 0);
    font-style: italic;
}

.partially-found-mod
{
    color: rgb(186, 127, 1);
    font-style: italic;
}

.none
{
    text-align: center;
    font-style: italic;
}

body
{
}

.mod-table
{
    background-color: rgb(58, 58, 58);
    outline-width: 3px;
    outline-color: black;
    outline-style: solid;
}

td,th
{
    outline-width: 1px;
    outline-color: rgb(116, 116, 116);
    outline-style: solid;
}

th
{
    background-color: rgb(85, 85, 85);
}
