<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div style="background-color: rgba(0, 0, 0, 0);display: inline-block;"></div>
    <div class="wrapper">
      {{ content }}
    </div>
    <div style="background-color: rgba(0, 0, 0, 0);display: inline-block;"></div>
  </main>

  {%- include footer.html -%}

  {%- include sub-footer.html -%}

</body>

</html>