<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link id="main-stylesheet" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {%- feed_meta -%}

    <link rel="stylesheet" href="/SyobonKZ/wiki/main.css">

</head>

<body>

    <header class="wiki-text syobonkz-title" style="height: fit-content; width: 100%; display: flex; justify-content: space-between; align-items: flex-end; box-sizing: border-box;">
        <a href="/SyobonKZ/wiki/" style="color: rgb(242,156,56); text-decoration: none;">
            Syobon<span style="color: rgb(114, 114, 114);">KZ</span>
            <span style="color: rgb(255, 255, 255);">Wiki</span>
        </a>
        <!--<span>{{ page.title }}</span>-->
    </header>
    <div style="color: black; height: 2px;align-self: start; width: 100vw; background-color: black; border: none;"></div>

    <main class="page-content" aria-label="Content" style="width: 100vw;">
        <div class="wrapper" style="width: 100vw;">
            <!-- class="post" -->
            <article style="width: 100vw;">

                <!-- class="post-content" -->
                <div class="wiki-text">
                    {{ content }}
                </div>

            </article>
        </div>
    </main>

    <!-- removed footer for now because width bugged -->

</body>

</html>
