<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link id="main-stylesheet" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {%- feed_meta -%}



    <link rel="stylesheet" href="/SyobonKZ/wiki/main.css">

</head>

<body>

    <header class="wiki-text syobonkz-title" style="height: fit-content;">
        <a href="/SyobonKZ/wiki/" style="color: rgb(242,156,56); text-decoration: none;">
            Syobon<span style="color: rgb(114, 114, 114);">KZ</span>
            <span style="color: rgb(255, 255, 255);">Wiki</span>
        </a>
    </header>
    <hr style="color: black; height: 2px;align-self: start; width: 100vw; background-color: black; border: none;">

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <!-- class="post" -->
            <article>

                <!-- class="post-content" -->
                <div class="wiki-text" style="padding-inline: 10vw;">
                    {{ content }}
                </div>

            </article>
        </div>
    </main>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

</body>

</html>
